<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Réinitialisation de mot de passe TeachMe</title>
  </head>
  <body>
    <div style="background-color: #f8f8f8; padding: 20px; text-align: center">
      <h1 style="color: #e50913; margin: 20px">Teach Me</h1>
    </div>
    <div style="background-color: #fff; padding: 12px; text-align: center">
      <h2 style="color: #e50913">Réinitialisation de mot de passe TeachMe</h2>
      <p>Cher(e) {pseudo},</p>
      <p>
        Nous avons reçu une demande de réinitialisation de mot de passe pour
        votre compte TeachMe. Pour définir un nouveau mot de passe et accéder à
        votre compte, veuillez suivre les étapes ci-dessous :
      </p>
      <ol style="text-align: left">
        <li>Cliquez sur le lien de réinitialisation ci-dessous :</li>
        <br />
        <a
          href="{reset_link}"
          style="
            background-color: #e50913;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
          "
          >Réinitialiser mon mot de passe</a
        >
        <br /><br />
        <li>
          Vous serez redirigé(e) vers une page de réinitialisation de mot de
          passe sécurisée.
        </li>
        <li>
          Entrez votre nouveau mot de passe, assurez-vous qu'il est sécurisé et
          difficile à deviner.
        </li>
        <li>
          Confirmez votre nouveau mot de passe en le saisissant à nouveau.
        </li>
        <li>
          Cliquez sur "Réinitialiser le mot de passe" pour finaliser le
          processus.
        </li>
      </ol>
      <p>
        Assurez-vous de réinitialiser votre mot de passe dès que possible pour
        garantir la sécurité de votre compte TeachMe. Si vous n'avez pas demandé
        cette réinitialisation de mot de passe, veuillez nous contacter
        immédiatement à l'adresse [adresse de contact] pour des mesures
        supplémentaires de sécurité.
      </p>
      <p>Merci de faire confiance à TeachMe.</p>
      <p>Cordialement,<br />L'équipe TeachMe</p>
    </div>
  </body>
</html>
