/* Style général de la carte */
.card {
  /* border: 1px solid #ddd; */
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 350px;
}

.card:hover {
  /* border: 1px solid #ddd; */
  border-radius: 1px;
  transform: scale(1.02);
}

/* Image de la miniature */
.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Contenu de la carte */
.content {
  padding: 16px;
  /* position: relative; */
}

/* Titre de la vidéo */
h3 {
  margin-top: 0;
}

/* Description de la vidéo */

/* Bouton "Watch Now" */

/* Utilisation de flex pour la disposition */
.video-list {
  display: flex;

  flex-wrap: wrap; /* Permet à la liste de vidéos de passer à la ligne si nécessaire */
  justify-content: space-around; /* Centrage horizontal des vidéos */
}

/* Ajustements pour les petits écrans (par exemple, moins de 768px) */
@media screen and (max-width: 767px) {
  .card {
    width: 100%; /* La carte occupe la largeur totale sur les petits écrans */
  }
}

/* ... */
/* ... */

/* Style des boutons d'overlay (affichés au survol) */
.overlay {
  display: none; /* Initialement masqué */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Assure que les icônes apparaissent au-dessus du contenu */
}

/* Style des icônes "Regarder plus tard" et "Ajouter aux favoris" */
.overlay-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.tooltip .tooltiptextlater,
.tooltiptextheart {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptextlater {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltiptextheart {
  visibility: visible;
  opacity: 1;
}

.watch-later-icon,
.favorite-icon {
  font-size: 44px;
  color: #fff;
  background-color: #333;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.watch-later-icon:hover,
.favorite-icon:hover {
  background-color: red;
}

.watch-later-icon .add-favorite {
  background-color: red;
}

/* Affiche les icônes d'overlay au survol de la carte */
.card:hover .overlay {
  display: flex;
}

/* ... */

/* Ajoute ces styles à ton fichier CSS */

.skeleton-list {
  /* Styles pour une carte en mode squelette */
  background-color: #f3f3f3;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

.skeleton-thumbnail {
  /* Styles pour l'image de la carte en mode squelette */
  width: 100%;
  height: 200px; /* Ajuste la hauteur selon tes besoins */
  background-color: #ddd;
}

.skeleton-text {
  /* Styles pour le texte de la carte en mode squelette */
  margin-top: 10px;
  background-color: #ddd;
  height: 16px; /* Ajuste la hauteur selon tes besoins */
  width: 80%; /* Ajuste la largeur selon tes besoins */
}

/* ... Ajoute d'autres styles au besoin */
