/* Ajoute ces styles CSS pour rendre la hauteur responsive */
.banner {
  height: 403px; /* Hauteur par défaut */

  @media (max-width: 768px) {
    height: 250px; /* Hauteur pour les petits écrans */
  }
}
.watch-button {
  display: block;
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #fff;
  color: #111;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.p-button .p-button-label {
  color: #000;
}

.watch-button:hover {
  background-color: #cc0000; /* Rouge légèrement plus sombre au survol */
}
